* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 100%; }

* {
  box-sizing: border-box;
  position: relative;
  /*border: solid 1px;*/ }

a {
  text-decoration: none;
  outline: none;
  font-family: monospace;
  color: black; }

body,
html {
  border-style: none; }

span {
  font-style: italic; }

input,
select {
  vertical-align: middle; }

body {
  background-color: white;
  background-color: #eeeff4; }

.metacontainer {
  height: 100vh;
  text-align: center; }

#header {
  display: flex;
  align-items: center;
  height: 38px;
  background-color: #3b5999;
  margin-bottom: 7px; }
  #header a {
    color: white;
    font-size: 15px; }

#header a:hover {
  color: #ec4848; }

#ffacebook {
  margin-left: 7px;
  display: flex; }

#quitfacebook {
  cursor: pointer;
  margin-left: 7px; }

.quit {
  margin-left: auto;
  margin-right: 7px; }

#delete {
  margin-left: 7px; }

@media screen and (max-device-width: 480px) {
  #header {
    height: 48px; }
    #header a {
      font-size: 24px; }

  #ffacebook {
    height: 30px;
    width: 30px; }

  #quitfacebook {
    height: 30px;
    width: 557px; } }
.content {
  pointer-events: none; }

.fotodiv {
  margin-bottom: 3px;
  z-index: 1; }

#foto {
  pointer-events: visible;
  cursor: pointer;
  border: solid 1px;
  background-color: white;
  padding: 0.25%;
  width: 33vh;
  height: 33vh;
  max-width: 256px;
  max-height: 256px; }

@media screen and (max-device-width: 480px) {
  #foto {
    width: calc(1.5* 33vh);
    height: calc(1.5* 33vh);
    min-width: calc(1.5* 256px);
    min-height: calc(1.5* 256px); }

  #items {
    min-height: 78px; }

  #items img {
    width: 64px;
    height: 64px; } }
#items {
  display: inline-block;
  min-height: 39px;
  margin-bottom: 1vh;
  pointer-events: visible; }

#items img {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 6px; }

#items img:hover {
  cursor: pointer;
  border-bottom: solid 1px;
  color: #6a6a6a; }

.centerpagecontainer {
  pointer-events: none; }

.centerpage {
  display: inline-block;
  pointer-events: none; }

#landingtext {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  max-width: 560px;
  text-align: justify;
  max-height: 280px;
  padding: 6px 12px;
  overflow-y: auto;
  pointer-events: visible;
  line-height: 150%;
  z-index: 3;
  border: dotted 1px #cfcfcf;
  background-color: #eeeff4; }

#youtube {
  vertical-align: bottom;
  width: 60vh;
  height: 32vh;
  z-index: 1; }

@media screen and (max-device-width: 480px) {
  #youtube {
    width: 57vh;
    height: 33vh;
    max-width: 570px;
    max-height: 330px; }

  #landingtext {
    line-height: 150%;
    font-size: 18px;
    max-height: 480px; } }
.cryptocurrency {
  position: relative;
  display: inline-block;
  z-index: 3; }

#qrcode {
  width: 33vh;
  height: 33vh;
  max-width: 272px;
  max-height: 272px;
  border: solid 6px;
  border-radius: 6px; }

#ccaddress {
  max-width: 272px;
  word-wrap: break-word;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-top: 6%;
  font-size: 12px;
  background-color: #141414;
  color: white;
  padding: 3px 5px;
  line-height: 130%;
  border-radius: 6px; }

@media screen and (max-device-width: 480px) {
  #ccaddress {
    max-width: 294px; } }
#arrowheart {
  position: absolute;
  top: 42px;
  left: 0;
  pointer-events: none; }

#motivational {
  position: absolute;
  top: 42px;
  right: 0;
  pointer-events: none; }

#stickfigures {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -64px;
  z-index: 2; }

#ladder {
  position: absolute;
  z-index: 2;
  bottom: 4px;
  margin-left: -4px;
  pointer-events: visible;
  visibility: hidden; }

@media screen and (max-device-width: 480px) {
  #arrowheart {
    width: 256px;
    height: 256px;
    top: 50px; }

  #motivational {
    width: 256px;
    height: 256px;
    top: 50px; }

  #stickfigures {
    bottom: 30px;
    margin-left: -128px; }

  #stickfigures img {
    width: 256px;
    height: 140px; }

  #ladder {
    width: 201px;
    height: 201px; } }
.backgroundfill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

.bgfillobject {
  font-family: monospace;
  position: relative;
  display: inline-block;
  color: #e4e4e4;
  vertical-align: top;
  z-index: 0;
  cursor: default; }

#footer {
  position: absolute;
  bottom: 3px;
  width: 100vw; }

.return {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 38px; }
  .return p {
    padding-left: 9px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    height: 38px; }

div.return {
  background-color: #3b5999; }

#sourcesul {
  margin-top: 0.5em;
  margin-left: 30px;
  list-style-type: circle; }

li p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px; }

#sourcesul li {
  color: #6a6a6a;
  margin-bottom: 15px;
  font-size: 1em; }

#sourcesul a:link {
  color: #0e0e0e; }

#sourcesul a:visited {
  color: #757575; }

#sourcesul li:hover {
  text-decoration: underline;
  list-style-type: disc; }

#blackmirror p {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 2px 0;
  vertical-align: middle; }

@media only screen and (max-device-width: 480px) {
  #sourcesul li {
    font-size: 1.5em; }

  .return {
    font-size: 24px; } }

/*# sourceMappingURL=style.css.map */
