/* general */
h1, h2, p {
  margin: 0px;
}

h2 {
  font-weight: normal;
  font-size: 1em;
}

.section {
  margin-bottom: 9px;
}

.inline-block {
  display: inline-block;
}

/* navbar & navbar content*/
.index-navbar, .profile-navbar {
  position: sticky;
  top: 8px; /* 8px Prevents scroll and navigate buttons from moving the container.  */
  display: inline-flex;
  width: 100%;
  background-color: white;
  box-shadow: 0px -9px 0px 0px #ffffff;
  padding-bottom: 6px;
}

.index-navbar-menu-navlink a {
  text-decoration: none;
  color: black;
}

.index-navbar-avatar {
  position: absolute;
  right: 0px;
  height: 36px;
}

.index-navbar-avatar img {
  height: 100%;
}

/* media */
.index-media iframe, .index-media img {
  height: 190px;  
}

/* description */
.index-description {
  width: 75%;
}

/* sources */
.index-table-sources td {
  border-style: dotted;
  border-width: 0px;
  word-break: normal;
  border-bottom-width: 1px;
  border-color: lightgray;
}

.index-table-sources td:first-child {
  width: 1%;
  text-align: center;
}

.index-table-sources td:nth-child(2) {
  width: 27%;
}

.index-table-sources td:nth-child(3) {
  width: 60%;
}

.index-table-sources td:last-child {
  width: 12%;
  text-align: right;
}

/* bitcoin */
#bitcoin {
  text-align: center;
}

/* profile*/

#profilepic {
  width: 84px;
}

.profile-navbar {} /* See index-navbar */

.profile-table-quotes {
  border-collapse:collapse;
}

.profile-navbar-contact {
  margin-left: 6px;
}

.profile-table-quotes td {
  border-style: dotted;
  border-width: 0px;
  word-break: normal;
  border-bottom-width: 1px;
  border-color: lightgray;
}

.profile-table-quotes td:first-child {
  width: 220px;
  text-align: center;
}

.profile-table-quotes td:last-child {
  text-align: left;
}

.profile-media iframe, .profile-media img {
  height: 190px;  
}

.vimeo {
  width: 337px;
}

/*————————— above = new———————————————— below = old——————————*/
/* software */

.softwareTable td {
  border-style: dotted;
  border-width: 0px;
  word-break: normal;
  border-bottom-width: 1px;
  border-color: lightgray;
  vertical-align: bottom;
}

.softwareTable td:first-child {
  width: 190px;
  text-align: left;
}

.softwareTable td:nth-child(2), td:nth-child(3), td:nth-child(4) {
  padding-left: 15px;
}