h1, h2, h3 {
  font-size:1em;
  display: inline;
}

h2, h3 {
  font-weight:normal;
}

table {
  border-collapse: collapse;
}

/* index */
.menuTopLeft {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 0px 1px 3px hsla(0, 0%, 100%, 0.69);
  border-radius: 2px;
  z-index: 1;
  margin-bottom: 15px;
}

#antifbookIcon {
  vertical-align: middle;
}

.navLink {
  text-decoration: none;
  color: black;
  margin-left: 3px;
  margin-right: -12px; /* No idea why this section suddenly shifted blank space to the right. */
}

.avatarTopRight {
  width: 54px;
  text-align: right;
  color: grey;
  position: absolute;
  right: 6px;
  top: 7px;
}

.menuMedia {
  margin-bottom: 9px;
}

.menuMediaContent {
  display: inline;
}

.subMenuText {
  width: 85%;
  margin-bottom: 15px;
}

.sourcesTable td {
  border-style: dotted;
  border-width: 0px;
  word-break: normal;
  border-bottom-width: 1px;
  border-color: lightgray;
}

.sourcesTable td:first-child {
  width: 1%;
  text-align: center;
}

.sourcesTable td:nth-child(2) {
  width: 27%;
}

.sourcesTable td:nth-child(3) {
  width: 60%;
}

.sourcesTable td:last-child {
  width: 12%;
  text-align: right;
}

#bitcoin {
  text-align: center;
}

/* profile*/

.containerTable, .quotesTable {
  margin-bottom: 12px;
}

#profilepic {
  margin-right: 6px;
  width: 86px;
  vertical-align: bottom;
}

.contactTableContent td {
  vertical-align: bottom;
}

.quotesTable td {
  border-style: dotted;
  border-width: 0px;
  word-break: normal;
  border-bottom-width: 1px;
  border-color: lightgray;
}

.quotesTable td:first-child {
  width: 15%;
  text-align: center;
}

.quotesTable td:last-child {
  width: 85%;
  text-align: left;
}

/* software */

.softwareTable td {
  border-style: dotted;
  border-width: 0px;
  word-break: normal;
  border-bottom-width: 1px;
  border-color: lightgray;
  vertical-align: bottom;
}

.softwareTable td:first-child {
  width: 190px;
  text-align: left;
}

.softwareTable td:nth-child(2), td:nth-child(3), td:nth-child(4) {
  padding-left: 15px;
}